#number-guess, #result, #result1, #history {
    max-width: 480px;
    margin: 0 auto;
}

#number-guess{    
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.navbar-brand {
    max-width: 960px;
    margin: 0 auto;
}

#history {
    margin-top: 15px;
}
  
.banner {
    color: #FFD23F;
    font-size: 96px;
    font-family: sans-serif;
}

button{
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    margin-right: 10px;
}